<app-menu></app-menu>
<div class="container">
  <div class="g-0 d-flex">
       <app-color1></app-color1>
       <app-color1></app-color1>
       <app-color1></app-color1>
       <app-color1></app-color1>
       <app-color1></app-color1>
       <app-color1></app-color1>
       <app-color1></app-color1>
       <app-color1></app-color1>
       <app-color1></app-color1>
       <app-color1></app-color1>
       <app-color1></app-color1>
       <app-color1></app-color1>
       <app-color1></app-color1>
       <app-color1></app-color1>
       <app-color3></app-color3>
       <app-color3></app-color3>
       <app-color3></app-color3>
       <app-color1></app-color1>
       <app-color1></app-color1>
       <app-color1></app-color1>
  </div>
</div>